﻿@{
    Layout.Title = T("Diagnostics");
    Script.Require("jQuery_SignalR_Hubs");
}

<ul id="tracedisplay"></ul>
<button id="clickme">@T("Click me!")</button>

@using (Script.Foot())
{
    <script type="text/javascript">
//<![CDATA[
        $(document).ready(function() {
            var trace = $.connection.traceNotifier;
            trace.client.traceNotify = function(s) {
                $("#tracedisplay").append("<li>" + s + "</li>");
            };

            $.connection.hub.start();

            $("#clickme").click(function() {
                trace.server.traceNotify("hello world!");
            });
        });
//]]>
    </script>
}